#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角
#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos {
        compatible = "zmk,combos";

        middle-click {
            bindings = <&mkp MB3>;
            key-positions = <40 41>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        backspace {
            bindings = <&BackandDell>;
            key-positions = <8 9>;
        };

        kakko {
            bindings = <&kakko>;
            key-positions = <13 12>;
        };

        daikakko {
            bindings = <&dai_kakkko>;
            key-positions = <23 22>;
            layers = <0>;
        };

        namikakko {
            bindings = <&nami_kakko>;
            key-positions = <2 3>;
            layers = <0>;
        };

        ten {
            bindings = <&kp AMPERSAND>;
            key-positions = <15 16>;
        };

        tenten {
            bindings = <&kp AT>;
            key-positions = <16 17>;
        };

        mv_config {
            bindings = <&sl 6>;
            key-positions = <37 32>;
            layers = <0>;
        };

        HANZEN {
            bindings = <&kp GRAVE>;
            key-positions = <0 1>;
        };

        bo {
            bindings = <&kp MINUS>;
            key-positions = <17 18>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        kakko: kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ASTRK &kp LEFT_PARENTHESIS &kp LEFT_ARROW>;
            label = "KAKKO";
        };

        dai_kakkko: daikakkko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp BACKSLASH &kp LEFT_ARROW>;
            label = "DAIKAKKKO";
        };

        nami_kakko: nami_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACE &kp PIPE &kp LEFT_ARROW>;
            label = "NAMI_KAKKO";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        encoder_msc_left_right: encoder_msc_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_LEFT_RIGHT";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        BackandDell: BackandDell {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKANDDELL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mkp_back: mkp_back {
            compatible = "zmk,behavior-mod-morph";
            label = "MKP_BACK";
            bindings = <&mkp MB1>, <&mkp MB4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mkp_next: mkp_next {
            compatible = "zmk,behavior-mod-morph";
            label = "MKP_NEXT";
            bindings = <&mkp MB2>, <&mkp MB5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E  &kp R            &kp T           &kp Y         &kp U            &kp I      &kp O         &kp P
&kp A             &kp S         &kp D  &kp F            &kp G           &kp H         &kp J            &kp K      &kp L         &kp INT_YEN
&mt LEFT_SHIFT Z  &kp X         &kp C  &kp V            &kp B           &kp N         &kp M            &kp COMMA  &kp PERIOD    &kp SLASH
&sl 2             &kp LEFT_WIN  &sl 1  &mt LCTRL SPACE  &sk LEFT_SHIFT  &BackandDell  &mt LCTRL ENTER  &mo 3      &kp LEFT_ALT  &kp ESCAPE
&mkp_back         &mkp_next
            >;

            sensor-bindings = <&encoder_msc_down_up>, <&encoder_msc_left_right>;
        };

        SYMBOL {
            bindings = <
&kp EXCLAMATION  &kp JP_AT  &kp HASH  &kp DOLLAR  &kp PRCNT  &kp JP_CARET  &kp JP_AMPERSAND  &kp JP_ASTERISK  &kp MINUS          &kp JP_EQUAL
&none            &none      &mkp MB5  &mkp MB4    &none      &none         &none             &none            &kp SEMI           &kp JP_COLON
&none            &none      &none     &none       &none      &none         &none             &kp JP_TILDE     &kp JP_UNDERSCORE  &kp QUESTION
&trans           &trans     &trans    &trans      &trans     &trans        &trans            &trans           &trans             &trans
&mkp MB1         &mkp MB2
            >;
        };

        NUM {
            bindings = <
&kp F11   &kp F12   &trans  &trans  &trans   &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp PLUS      &kp MINUS
&kp F6    &kp F7    &kp F8  &kp F9  &kp F10  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK  &kp SLASH
&kp F1    &kp F2    &kp F3  &kp F4  &kp F5   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0        &kp COLON
&trans    &trans    &trans  &trans  &trans   &trans        &trans        &trans        &trans        &trans
&mkp MB1  &mkp MB2
            >;
        };

        ARROW {
            bindings = <
&trans    &none     &none   &kp F12  &trans      &kp HOME        &kp RC(END)     &kp RC(HOME)  &kp END          &none
&none     &kp F2    &kp F7  &kp F10  &kp LS(F5)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&trans    &none     &none   &none    &trans      &trans          &trans          &trans        &trans           &trans
&trans    &trans    &trans  &trans   &trans      &trans          &trans          &none         &trans           &trans
&mkp MB1  &mkp MB2
            >;

            sensor-bindings =
                <&inc_dec_kp UP_ARROW DOWN_ARROW>,
                <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        MOUSE {
            bindings = <
&trans    &trans    &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans
&trans    &trans    &trans  &trans  &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans    &trans    &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans
&trans    &trans    &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans
&mkp MB1  &mkp MB2
            >;
        };

        SHORTCUT {
            bindings = <
&trans    &trans    &kp ENTER  &trans          &trans          &trans              &trans            &trans  &trans  &trans
&trans    &trans    &kp ENTER  &trans          &trans          &trans              &trans            &trans  &trans  &trans
&trans    &trans    &trans     &trans          &trans          &trans              &trans            &trans  &trans  &trans
&trans    &trans    &trans     &kp LS(LG(N5))  &kp LS(LG(N4))  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &trans  &trans  &trans
&mkp MB1  &mkp MB2
            >;
        };

        CONFIG {
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR    &trans        &trans        &trans        &trans       &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans       &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans       &trans  &trans  &trans  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bootloader  &trans  &trans  &trans  &trans
&kp LANG2       &kp LANG1
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans
            >;
        };
    };
};
